@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400&family=Montserrat:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

.custom-slider button.slick-next {
  right: 60px;
}
.custom-slider button.slick-prev {
  left: 20px;
  z-index: 40;
}

.custom-slider button.slick-next::before {
  content: '\2771';
  font-size: 30px;
  color: #130b0b;
  background-color: #c8c9dd;
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.custom-slider button.slick-prev::before {
  content: '\2770';
  font-size: 30px;
  color: #130b0b;
  background-color: #c8c9dd;
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-slider button.slick-next {
  right: 20px;
}

.image-slider button.slick-prev {
  left: 0px;
  z-index: 40;
}

.image-slider button.slick-next::before {
  content: '\2771';
  font-size: 30px;
  color: white;
  background-color: #a4a5c8;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-slider button.slick-prev::before {
  content: '\2770';
  font-size: 30px;
  color: white;
  background-color: #a4a5c8;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* .my-masonry-grid {
}
.my-masonry-grid_column {
} */

.my-masonry-grid_column > div {
  margin-bottom: 15px;
}

.w500 {
  width: 500px;
}
.form-input,
.form-textarea,
.form-select,
.form-multiselect {
  font-size: 14px;
  line-height: 1rem /* 24px */;
  padding-right: 0.25rem /* 12px */;
}
.form-select {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 20 20'%3e%3cpath stroke='%236b7280' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.5' d='M6 8l4 4 4-4'/%3e%3c/svg%3e");
  background-position: right 2px /* 8px */ center;
  background-repeat: no-repeat;
  background-size: 1.25em 1.25em;
  /* padding-right: 2.5rem 40px; */
  print-color-adjust: exact;
  /* width: 90px; */
}

code {
  white-space: initial;
}
